
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Note</title>
	<!-- Meta tag Keywords -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Classic Sign In Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
	/>
	  <script src="app/public/js/jquery-3.2.1.js"></script>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="app/view/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="app/view/css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Reem+Kufi&amp;subset=arabic" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //web-fonts -->
	<style>
		input[type='submit'], button, [aria-label]{
			cursor: pointer;
		}
		#spoiler{
			display: none;
		}
		.table{
			width: 350px;
		}
	</style>
</head>

<body>
	<!-- title -->
	<h1>
		<span>C</span>lassic
		<span>N</span>ote
		<span>T</span>aking
		<span>APP</span></h1>
	<!-- //title -->
	<!-- content -->
	<div class="sub-main-w3">
		<form  action="javascript:void(0);" method="POST" onsubmit="addNote()">
			<div class="form-style-agile">
				<label>
					Name
					<i class="fas fa-user"></i>
				</label>
				<input type="text" id="add-title" placeholder="Name">
			</div>
			<div class="form-style-agile">
				<label>
					Date Of Birth
					<i class="fas fa-unlock-alt"></i>
				</label>
				<input type="text" id="add-body" placeholder="Date Of Birth">
			</div>

			<input type="submit" value="Add">

		</form>
		<div id="spoiler" role="aria-hidden">
			<form action="javascript:void(0);" method="POST" onsubmit="saveEdit()">
				<div class="form-style-agile">
					<label>
						Name
						</label>
				<input type="text" id="edit-title"> &nbsp;
				</div>
				<div class="form-style-agile">
					<label>Date Of Birth</label>


				<input type="text" id="edit-body">
				</div>
				<input type="submit" value="Edit">
			</form>
		</div>



		<div class="container">

	  <table class="table table-hover">
	    <thead>
			<tr>
			
				<th>Name</th>
				<th>DOB</th>
			</tr>
		</thead>
				<tbody id="notes">
				</tbody>
				<tbody id="notes2">
				</tbody>
		</table>
</div>
		<script src="app/public/js/script2.js"></script>
	</div>

	<!-- //content -->

	<!-- copyright -->
	<div class="footer">
		<p>&copy; 2019 Classic Sign In Form. All rights reserved | Design by
			Araphi
		</p>
	</div>
	<!-- //copyright -->

</body>

</html>
